# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/engine/
ios/Runner/GeneratedPluginRegistrant.*

# macOS
macos/Pods/
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Web
.web_temp/

# Misc
.DS_Store
*.log
*.pyc
*.swp
.env
